#section-div {
    position: fixed;
    right: 40px;
    
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
}

.section-button {
    outline: 0;
    border: none;
    background-color: transparent;
}

.section-button:hover {
    color: #4F4789;
}

.section-text {
    font-size: 20px;
}

#big-div {
    display: flex;
    flex-direction: column;
}

.info-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#info-div1 {
    margin-top: 4%;
    margin-bottom: 10%;
}

.img-div {
    /* background-color: green; */
    width: 50%;
    display: flex;
    justify-content: center;
}

.images {
    max-width: 70%;
    max-height: 50%;
}

.info-text-div {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.short-description {
    text-align: center;
    font-family: 'Open Sans';
    margin-bottom: -10px;
}

.about-me {
    text-align: center;
    white-space: pre-line;
    font-family: 'Open Sans';
}